<a href="https://colab.research.google.com/github/ankittejyadav/combine_excel/blob/main/Combine_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the required modules
import glob
import pandas as pd

# specifying the path to csv files
path = "/content"

# csv files in the path
file_list = glob.glob(path + "/*.csv")

# list of excel files we want to merge.
# pd.read_excel(file_path) reads the excel
# data into pandas dataframe.
excl_list = []

for file in file_list:
	excl_list.append(pd.read_csv(file))

# create a new dataframe to store the
# merged excel file.
excl_merged = pd.DataFrame()

for excl_file in excl_list:

	# appends the data into the excl_merged
	# dataframe.
	excl_merged = excl_merged.append(
	excl_file, ignore_index=True)

# exports the dataframe into excel file with
# specified name.
excl_merged.to_excel('Twitter_Analytics.xls', index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

In [ ]:
file_list = pd.read_excel('Twitter_Analytics.xlsx')
file_list

,Date,Tweets published,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,url clicks,...,promoted hashtag clicks,promoted detail expands,promoted permalink clicks,promoted app opens,promoted app installs,promoted follows,promoted email tweet,promoted dial phone,promoted media views,promoted media engagements
0,2022-10-01,0,1681,85,0.050565,12,0,18,9,19,...,-,-,-,-,-,-,-,-,-,-
1,2022-10-02,2,811,23,0.028360,1,1,7,0,5,...,-,-,-,-,-,-,-,-,-,-
2,2022-10-03,15,12563,365,0.029054,45,6,79,53,45,...,-,-,-,-,-,-,-,-,-,-
3,2022-10-04,4,8034,168,0.020911,16,2,40,24,26,...,-,-,-,-,-,-,-,-,-,-
4,2022-10-05,0,2325,78,0.033548,8,3,23,16,9,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,2022-05-27,0,2355,66,0.028025,8,0,19,7,12,...,-,-,-,-,-,-,-,-,-,-
180,2022-05-28,0,408,7,0.017157,0,0,1,4,2,...,-,-,-,-,-,-,-,-,-,-
181,2022-05-29,0,274,9,0.032847,1,0,1,4,2,...,-,-,-,-,-,-,-,-,-,-
182,2022-05-30,0,313,11,0.035144,2,0,3,4,2,...,-,-,-,-,-,-,-,-,-,-
183,2022-05-31,1,658,10,0.015198,1,0,1,4,0,...,-,-,-,-,-,-,-,-,-,-